<!doctype html>
<html>
  <head>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=shopName%></h1>
    <form method="POST" action="/registered">
        <p>First name: <input id="first" type="text" name="first" value="first name" /></p>
        <p>Last name: <input id="last" type="text" name="last" value="last name" /></p>
        <p>Email: <input id="email" type="email" name="email" value="email" /></p>
        <input type="submit" value="Register" />
      </form>
  </body>
</html>